body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-family: 'Yeseva One', cursive;
}

h2 {
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
}

p {
    text-align: justify;
    font-family: poppins;
}

.bg-color {
    color: chocolate;
    display: block;
}

.focused {
    border-left: 3px solid crimson;
    padding-left: 30px;
}

.top-section {
    display: flex;
    margin-top: 70px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

.half-width img {
    width: 70%;
}

.link-button {
    background-image: linear-gradient(red, tomato);
    padding: 15px 40px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-family: poppins;
    border-radius: 10px;
}

.link {
    margin: 40px 0px 50px;
}

/* mission section  */
.mission-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mission-section h1 {
    text-align: center;
}

.mission-items {
    display: flex;
}

.missions {
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 30px 20px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 5%;
}

.missions img {
    width: 40%;
}

/* develop section  */
.develop-section {
    background-image: url(img/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: left;
    background-position-y: center;
    display: flex;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.develop-items {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

#dep-1 {
    padding-left: 50px;
}

#dep-2 {
    padding-right: 50px;
}

/* community section  */
.community-section {
    display: flex;
    background-image: url(img/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: right;
    background-position-y: bottom;
    margin: 100px 30px;
}

#community-1 {
    margin-top: 70px;
}

/* app section  */
.app-section {
    margin: 40px 40px;
}

.app-section img {
    width: 60%;
}

.app-item {
    display: flex;
}

#app-right-item {
    margin-top: 60px;
}

#app-right-item1 {
    background-image: url(img/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30%;
}

#app-right-item1 img {
    padding-left: 30px;
}

.app-items {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

/* footer  */
footer {
    background-color: black;
    margin: 0;
    padding: 20px;
}

footer h2 {
    color: white;
    text-align: center;
}

footer p {
    color: white;
    text-align: center;
}